/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
// import PropTypes from 'prop-types';
// import './{{ properCase name }}.css';


/* eslint-disable react/prefer-stateless-function */
class {{ properCase name }} extends {{{ type }}} {
  render() {
    return (
      <div>[ CONTENT ]</div>
    );
  }
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
